
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Nanum+Gothic+Coding&family=Staatliches&display=swap');

*{ font-family: 'Staatliches', 'Nanum Gothic Coding';}


body {
  height: 900px;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  color: #3b4751;
  background-color: #fee99f;
 
}




.wrap {

  position: absolute;
  margin: auto;
  top: 2%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  height: auto;
  background: #fee99f;
  box-shadow: 7px 7px 14px #d8c687,
    -7px -7px 14px #ffffb7;
  border-radius: 30px;


}

.middle {
  position: relative;
  text-align: center;
}


li {
  list-style: none;
}


img {
  width: 100%;
  height: 110%;
}



i span {
  font-size: 12px;
  position: relative;
  left: -15px;
}


#clock {
  border-radius: 30px;
  width: 20%;
  height: 80px;
  font-size: 2vw;
  top:5%;
  left: 26%;
  line-height: 80px;
  z-index: 111;
  background: #fee99f;
  box-shadow: 7px 7px 14px #d8c687,
    -7px -7px 14px #ffffb7;
  font-weight: 900;
}

#count{
  font-size: 18px;
  display: none;

  
}

#christcount{
  font-size: 18px;
  cursor: pointer;
  display: none;

}



#login-form{
position: absolute; 
text-align: center;
top:0%;
border-radius: 25px;
height:100%;
width:250px;
background: #fee99f;
box-shadow:  6px 6px 12px #d8c687,
             -6px -6px 12px #ffffb7;
z-index: 11111;

}


.left{
  position: absolute; 
text-align: center;
top:0%;
border-radius: 25px;
height:100%;
width:250px;
background: #fee99f;
box-shadow: 6px 6px 12px #d8c687,
-6px -6px 12px #ffffb7;
}

.left span {
  box-shadow: 6px 6px 12px #d8c687,
    -6px -6px 12px #ffffb7;
  width: 60px;
  height: 60px;
  display:block;
  line-height:4.3;
  border-radius: 15px;
  position: absolute;
  bottom: 5%;
  left:20%;
  transition: all .5s;
  cursor: pointer;
}

.left span:hover{
  background: #fee99f;
  box-shadow: inset 5px 5px 10px #d8c687,
              inset -5px -5px 10px #ffffb7;
  transition: all .5s;
}

.left span:nth-of-type(2){
  left:58%;
}

.left span i {
  font-size:30px;
}

#greeting{
  margin:4%;
  padding:1%;
  top:5%!important;
  left: 10px;
  position: relative;
  border:none;
  background-color:transparent;
  width: 210px;
  height:50px;
  text-align: center;
  transition: all .3s;
  font-size: 30px;
  border-radius: 25px;
  background: #fee99f;
  box-shadow:  6px 6px 12px #d8c687,
  -6px -6px 12px #ffffb7;
  line-height: 50px;
  
}

.enter{
  display: none;
}


.nwrap{
  top:0%;
}


.nametax{
  margin:4%;
  padding:1%;
  top:5%!important;
  position: relative;
  border:none;
  background-color:transparent;
  width: 210px;
  height:50px;
  text-align: center;
  transition: all .3s;
  font-size: 16px;
  border-radius: 25px;
  background: #fee99f;
  box-shadow:  6px 6px 12px #d8c687,
  -6px -6px 12px #ffffb7;
  z-index: 11111;
  
  
}


.nametax:hover{

  transition: all .3s;
  border-radius: 25px;
  border:1.5px #3b4751 solid;
background: #fee99f;
box-shadow: inset 6px 6px 12px #d8c687,
            inset -6px -6px 12px #ffffb7;
}

.nametax:focus{
  border: none;
  outline:none;
}





#todo-list{
  top:32%;
  left:27.3%;
  margin: none;
  position: absolute;
  width: 15%;
  border-radius: 25px;
  height:400px;
  box-shadow: inset 6px 6px 12px #d8c687,
            inset -6px -6px 12px #ffffb7;

}

#todo-list li button {
  background-color: transparent;
  border: none;
  padding-left: 5%;
  padding-top:5%;
  cursor: point;
  
}


.tdf{
  padding:1%;
  margin-bottom:5%;
  border:none;
  background-color:transparent;
  width: 250px;
  text-align: center;
  transition: all .3s;
  font-size: 16px;
  box-shadow:  6px 6px 12px #d8c687,
   -6px -6px 12px #ffffb7;
  border-radius: 20px;
  left:26.9%;
  top:25%;
  position: absolute;

}


.tdf:hover{
  
  transition: all .3s;
  border-radius: 25px;
  box-shadow: inset 17px 17px 35px #d8c687,
  inset -17px -17px 35px #ffffb7;
  border: 1px #3b4751 solid;}



.tdf:focus{
  border: none;
  outline:none;
}


#quote{
 bottom:6%;
left:29.5%;
  cursor: pointer;
  box-shadow:  17px 17px 35px #d8c687,
  -17px -17px 35px #ffffb7;
  border-radius: 25px;
  width: 55%!important;
  padding:1%;
  position: absolute;
  text-align: center;
}

#quote span:last-child{
  display: none;
}


#weather
{
position:absolute;
right: 13%;
bottom:21%;
width:20%;
text-align: center;
border-radius: 15px;
height:60px;
line-height: 2.3;
box-shadow: inset 5px 5px 13px #e7d491,
            inset -5px -5px 13px #fffead;
font-size: 25px!important;}


.fas{
  font-size: 15px;
}



.nav{
  position: relative;
  top:10%;
  left:67%;
  width:auto;
  width:300px;
}



.uu{
  left:50%;
  top:30px!important;
  transform: translateX(-50%);
position: absolute;
width:60%;
height: 50px;
padding:1%;
border-radius: 20px;
display: none;
text-align: center;
background: #fee99f;
box-shadow:  8px 8px 16px #d8c687,
             -8px -8px 16px #ffffb7;
}




.uu li {
  padding:0;
  width:25%;
  height:50px;
  background: #fff;
  text-align: center;
  border-radius: 25px;
  position: relative;
 display: inline-block;
 box-shadow: rgba(50, 50, 93, 0.4) 0px 10px 30px -12px
}



.uu li:hover{
  transform:  translateY(-0.7rem);
  transition:  2s ease-in, transform 1s linear;
}


.uu li a {
  display: block;
  padding:0;
  text-align: center;
  line-height:60px;
  
}


.bu{
background:transparent;
border:none;
color:#3b4751;
position: absolute;
top: -0px;
left:50%;
transform: translateX(-50%);
cursor: pointer;
display: block;
z-index: 10;
}

.bu i{
  font-size: 25px;
}


.bu:focus{
  border: none;
  outline:none;}





  #calendar{
    position: relative;
    left:67.3%;
    top:12%;
    padding:3%;
    border-radius: 25px;
    box-shadow:  8px 8px 16px #d8c687,
             -8px -8px 16px #ffffb7;
    border-spacing: 10px;
    font-weight: 900;
    color:#858796
  }

  #calendar .calentop{
    position: absolute;
    top:5%;
    left: 50%;
    transform: translateX(-50%);
    width:46%;
    text-align: center;
    font-weight: 900;
    color: #3b4751;
  
  }

  .calenbott
  {position: relative;
    left: 50%;
    transform: translateX(-50%);
  font-weight: 900;
  color: #3b4751;}

  .calenbott td {
    text-align: center;
  }

  .cursor{
    cursor: pointer;
  }







@media all and (min-width:768px) and (max-width:1250px) { 

.left{
 top:5%;
 left:10.5%;
 border-radius: 25px;
 height:10%;
 width:250px;
 background: transparent;
 box-shadow: none;

}

#login-form {
  background: transparent;
  box-shadow: none;
}

#greeting {
  line-height: 55px;
  font-size:40px;
}


#clock{
  top:14%;
  left: 13%;
  width:25%;
  height: 50px;
  line-height: 50px;
  font-size: 3.5vw;
}


.tdf {
  left: 13%;
  top: 28%;
}

#todo-list {
  top: 32%;
  left: 13%;
  width: 28%;
  height: 400px;
}


#quote{
  bottom:6%;
 left:50%;
 transform: translateX(-50%);
   cursor: pointer;
   box-shadow:  17px 17px 35px #d8c687,
   -17px -17px 35px #ffffb7;
   border-radius: 25px;
   width: 73%!important;
   padding:1%;
   position: absolute;
   text-align: center;
 }



 .nav{
  top:10%;
  left:53.5%;
  
}


#calendar{
  left:57%;
  top:15.5%
}

#calendar .calentop{
  width:51.5%;
  top:0.5%
}


#weather
{
right: 12%;
bottom:21%;
width:31%;
}
}

@media all and (min-width:280px) and (max-width:767px) { 

.left{
  top:15%;
  left:50%;
  transform: translateX(-50%);
  border-radius: 25px;
  height:10%;
  width:250px;
  background: transparent;
  box-shadow: none;
 
 }
 
 #login-form {
   background: transparent;
   box-shadow: none;
 }
 
 #greeting {
   line-height:55px;
   font-size: 40px;
 }
 
 
 #clock{
  left:50%;
  transform: translateX(-50%);
   top:22%;
   width:50%;
   height:50px;
   line-height:50px;
   font-size: 7vw;
 }
 
 
 .tdf {
  left:50%;
  transform: translateX(-50%);
   top: 35%;
 }
 
 #todo-list {
   top: 38%;
   left:50%;
  transform: translateX(-50%);
   width: 55%;
   height: 400px;
 }
 
 
 #quote{
   bottom:6%;
  left:50%;
  transform: translateX(-50%);
    cursor: pointer;
    box-shadow:  17px 17px 35px #d8c687,
    -17px -17px 35px #ffffb7;
    border-radius: 25px;
    width: 73%!important;
    padding:1%;
    position: absolute;
    text-align: center;
  }
 
 
 
  .nav{
   top:3%;
   left:50%;
  transform: translateX(-50%);
   
 }
 
 
 #calendar{
  display: none;
 }
 
 #calendar .calentop{
   width:51.5%;
   top:0.5%
 }
 
 
 #weather
 {
  left:50%;
  transform: translateX(-50%);
 bottom:1%;
 width:50%;
 height:30px;
 line-height: 20px;
 box-shadow: none;

 }

}
